<!DOCTYPE html>
<html>
    <head>
        <title>Conozca Alajuela</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="CSS/Menu.css" rel="stylesheet" type="text/css"/>
         <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>  

    </head>
    
    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="logo nav-link">Costa Rica</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="MusicaTipica.html">Musica Tipica</a></li>
                    <li class="nav-menu-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Conozca Costa Rica</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="VideoHeredia.html">Heredia</a></li>
                            <li><a class="dropdown-item" href="SanJose.html">San Jose</a></li>
                            <li><a class="dropdown-item" href="VideoAlajuela.html">Alajuela</a></li>
                            <li><a class="dropdown-item" href="Cartago.html">Cartago</a></li>
                            <li><a class="dropdown-item" href="Limon.html">Limon</a></li>
                            <li><a class="dropdown-item" href=".html">Guanacaste</a></li>
                        </ul>
                    </li> 
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Vacacionar.html">Vacacionar</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Soporte.html">Soporte</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Que_hacer.html">Que hacer</a></li>
                </ul>
            </nav>
        </header>

       <section id= "contenido">
           <h1>Alajuela</h1>
           <article>
               <header><h2>Conoce la maravillosa provincia de Cartago</h2></header>
               <br>
               <figure>
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/8YBviMjRL5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                   <figcaption>Este video fue realizado por el youtuber Chico Reyes Rosas en 2022</figcaption>
               </figure>
                <br>
            <br>
            <br>
           <header><h3>Ubicacion Cartago</h3></header>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62895.26764620647!2d-83.9251894!3d9.85420735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0df1021af2921%3A0xb5e5548558a39c52!2sProvincia%20de%20Cartago%2C%20Cartago!5e0!3m2!1ses-419!2scr!4v1690333591120!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
         </article>  
           
           </article>
       </section>
        <footer> Derechos reservados 2023</footer>
    </body>
</html>



