<!DOCTYPE html>
<html>
    <head>
        <title>Turismo</title>
        <meta charset="UTF-8"> <!--Permite usar palabras con caracteres especiales como ñ  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pagina de Turismo Costarricense">
        <meta name="keywords" content="Turismo, Costa Rica, vacaciones, paraiso"> <!--Ya no son tan utilizadas pero se pueden usar como mecanismo de descripción  -->
        <link href="CSS/Menu.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>  
    </head>

    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="logo nav-link">Costa Rica</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="MusicaTipica.html">Musica Tipica</a></li>
                    <li class="nav-menu-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Conozca Costa Rica</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="VideoHeredia.html">Heredia</a></li>
                            <li><a class="dropdown-item" href="SanJose.html">San Jose</a></li>
                            <li><a class="dropdown-item" href="VideoAlajuela.html">Alajuela</a></li>
                            <li><a class="dropdown-item" href="Cartago.html">Cartago</a></li>
                            <li><a class="dropdown-item" href="Limon.html">Limon</a></li>
                            <li><a class="dropdown-item" href="Guanacaste.html">Guanacaste</a></li>
                        </ul>
                    </li> 
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Vacacionar.html">Vacacionar</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Soporte.html">Soporte</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Que_hacer.html">Que hacer</a></li>
                </ul>
            </nav>
        </header>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <section style="display: flex;">
            <br><!--   <br> -->
            <br><!--   <br> -->
            <h3>Museos en San jose</h3>
            <br>
            <br>
            <br>
            <article>
                <br><!--   <br> -->
                <br>
                <br>
                <br>
                <h4>Museo del jade</h4>
                <iframe src="https://si.cultura.cr/infraestructura/museo-del-jade-y-de-la-cultura-precolombina"width="300" height="300"> </iframe>
            </article>

            <article>
                <br> 
                <br>
                <br><!--   <br> -->
                <br>
                <h4>Museo Nacional de Costa Rica</h4>
                <iframe src="https://www.museocostarica.go.cr"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->
                <br>
                <br>
                <br>
                <h4>Museo Banco Central de Costa Rica</h4>             
                <iframe src="https://museosdelbancocentral.org"width="300" height="300"> </iframe>
            </article>
        </section>

        <br>
        <br>
        <section style="display: flex;"><!-- Museos -->
            <h3><br></h3>
            <article>
                <br><!--   <br> -->
                <h4>Museo de Ciencias Naturales La Salle</h4>               
                <iframe src="https://www.museolasalle.ed.cr"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->
                <h4>Museo de Arte Costarricense</h4>               
                <iframe src="https://musarco.wordpress.com"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->
                <h4>Museo de Calderón Guardia</h4>             
                <iframe src="https://si.cultura.cr/infraestructura/museo-dr-rafael-angel-calderon-guardia"width="300" height="300"> </iframe>
            </article>
        </section>

        <br>
        <br>
        <section style="display: flex;"> 
            <br><!--   <br> -->
            <br><!--   <br> -->
            <h3>Restaurantes</h3>
            <br>
            <br>
            <br>
            <article>
                <br><!--   <br> -->
                <br>
                <br>
                <br>
                <h4>Taj Mahal Restaurant</h4>
                <iframe src="https://www.tripadvisor.es/Restaurant_Review-g309293-d23610789-Reviews-Taj_Mahal_Restaurant-San_Jose_San_Jose_Metro_Province_of_San_Jose.html"width="300" height="300"> </iframe>
            </article>

            <article>
                <br> 
                <br>
                <br><!--   <br> -->
                <br>
                <h4>Artisan Brew Pub</h4>
                <iframe src="https://www.tripadvisor.es/Restaurant_Review-g309256-d16813848-Reviews-Artisan_Brew_Pub-Heredia_Province_of_Heredia.html"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->
                <br>
                <br>
                <br>
                <h4>El Taller de Billy Sazon</h4>             
                <iframe src="https://www.tripadvisor.es/Restaurant_Review-g309293-d18455354-Reviews-El_Taller_de_Billy_Sazon-San_Jose_San_Jose_Metro_Province_of_San_Jose.html"width="300" height="300"> </iframe>
            </article>
        </section>

        <br>
        <br>
        <section style="display: flex;"> <!-- Restaurantes -->
            <br><!--   <br> -->
            <br><!--   <br> -->
            <article>
                <br><!--   <br> -->
                <h4>Rosti Oxigeno</h4>               
                <iframe src="https://www.tripadvisor.es/Restaurant_Review-g309256-d25446376-Reviews-Rosti_Oxigeno-Heredia_Province_of_Heredia.html"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->
                <h4>Sapore Trattoria</h4>               
                <iframe src="https://www.tripadvisor.es/Restaurant_Review-g309293-d3845939-Reviews-Sapore_Trattoria-San_Jose_San_Jose_Metro_Province_of_San_Jose.html"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->
                <h4>Olakino Cafe & Bistro</h4>             
                <iframe src="https://www.tripadvisor.es/Restaurant_Review-g1526420-d23098246-Reviews-Olakino_Cafe_Bistro-San_Pedro_San_Jose_Metro_Province_of_San_Jose.html"width="300" height="300"> </iframe>
            </article>
        </section>

        <br>
        <br>
        <section style="display: flex;">
            <br><!--   <br> -->
            <br><!--   <br> -->
            <h3>Parques Nacionales</h3>
            <br>
            <br>
            <br>
            <article>
                <br><!--   <br> -->
                <br>
                <br>
                <br>
                <h4>Parque Nacional Manuel Antonio</h4>
                <iframe src="https://manuelantoniopark.com/tour/manuel-antonio-park-guided-tour/?gclid=Cj0KCQjw5f2lBhCkARIsAHeTvlh_T9-6tIdQZk9GH_kqpg8stlgHjGCa3XHY6gD8rLPyS7UA6lTP7AcaAlmxEALw_wcB"width="300" height="300"> </iframe>
            </article>

            <article>
                <br> 
                <br>
                <br><!--   <br> -->
                <br>
                <h4>Parque Nacional Corcovado</h4>
                <iframe src="https://www.sinac.go.cr/ES/ac/acosa/pnc/Paginas/default.aspx"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->
                <br>
                <br>
                <br>
                <h4>Monumento Nacional Tortuguero</h4>             
                <iframe src="https://www.tortugueroinfo.com/spa/info_tortuguero.htm"width="300" height="300"> </iframe>
            </article>
        </section>
        
        <br>
        <br>
        <section style="display: flex;"> <!-- Parques Nacionales -->
            <br><!--   <br> -->
            <br><!--   <br> -->
            <article>
                <br><!--   <br> -->
                <h4>Parque Nacional Rincón de la Vieja</h4>               
                <iframe src="https://www.sinac.go.cr/ES/ac/acg/pnrv/Paginas/default.aspx"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->  
                <h4>Parque Nacional Cahuita</h4>               
                <iframe src="https://www.sinac.go.cr/ES/ac/aclac/pnc/Paginas/default.aspx"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->
                <h4>Parque Nacional Volcán Arenál</h4>             
                <iframe src="https://www.sinac.go.cr/ES/ac/ACAHN/pnva/Paginas/default.aspx"width="300" height="300"> </iframe>
            </article>
        </section>
        <section style="display: flex;">
            <br><!--   <br> -->
            <br><!--   <br> -->
            <h3>Tours</h3>
            <br>
            <br>
            <br>
            <article>
                <br><!--   <br> -->
                <br>
                <br>
                <br>
                <h4>Tours en San José</h4>
                <iframe src="https://strawberrytours.com/san-jose?gclid=Cj0KCQjw5f2lBhCkARIsAHeTvlgxfhFOHvEGgY41kgxXCBLyNx1js3DCGjw6Ydt18CJxPIrs6nJxFm0aAsJYEALw_wcB"width="300" height="300"> </iframe>
            </article>

            <article>
                <br> 
                <br>
                <br><!--   <br> -->
                <br>
                <h4>Tours en Heredia</h4>
                <iframe src="https://www.tripadvisor.es/Attraction_Review-g309256-d294431-Reviews-Britt_Coffee_Tour-Heredia_Province_of_Heredia.html"width="300" height="300"> </iframe>
            </article>

            <article>
                <br><!--   <br> -->
                <br>
                <br>
                <br>
                <h4>Tours en Cartago</h4>             
                <iframe src="https://conozcasucanton.com/turismo/10-lugares-para-turistear-en-cartago-10728/"width="300" height="300"> </iframe>
            </article>
        </section>
        <footer> Derechos reservados 2023</footer>
    </body>
</html>

