.form-main{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-conte .box{
    border-color: var(--glass-bg-color);
    border: 1px solid var(--border-color);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: var(--blur);
}
.form-content{
    width: 100px;
    max-width: 450px;
    z-index: 1;
}
.form-content h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color:  white;
    font-weight: 500;
}
.form-content form{
    margin:  25px 0 20px;
}
.form-content .input-box{
    margin: 25px;
}
.form-content .input-control{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}
.form-content .input-control:focus{
    outline: none;
}
.form-content .input-link{
    margin-top: 10px;
    text-align: right;
}
.form-content .btn{
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    border: none;
    color: white;
    position: relative;
    overflow: hidden;
}